.carrosel {
	width: 100%;
	height: 600px;
	background: lightgrey;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.backdrop {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		130deg,
		rgba(135, 201, 255, 0.6),
		rgba(0, 0, 0, 0.6)
	);
	z-index: 1;
}

.button {
	padding: 10px 15px !important;
	font-size: 14px !important;
	margin-top: 5px !important;
}

.main-text > p {
	font-size: 14px;
	color: white;
	margin-bottom: 10px;
	text-align: center;
}

.main-text > h1 {
	font-size: 40px;
	color: white;
	margin-bottom: 10px;
	justify-content: center;
}

.main-text {
	position: absolute;
	bottom: 60px;
	right: 120px;
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

@media only screen and (max-width: 1000px) {
	.carrosel {
		height: 400px;
	}

	.main-text {
		right: unset;
	}
}

@media only screen and (max-width: 500px) {
	.carrosel {
		height: 300px;
	}

	.button {
		padding: 7px 12px !important;
		font-size: 12px !important;
		margin-top: 3px !important;
	}

	.main-text > p {
		font-size: 11px;
		margin-bottom: 5px;
	}

	.main-text > h1 {
		font-size: 22px;
		margin-bottom: 5px;
	}

	.main-text {
		width: 300px;
		bottom: 30px;
	}
}
