.info {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.info-around {
	width: 900px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 90px;
	display: flex;
	flex-direction: column;
}

.info-around > h3 {
	font-size: 32px;
	color: #56a4ff;
	margin-top: 50px;
	margin-bottom: 10px;
}

.info-around > p {
	text-align: justify;
	font-size: 14px;
	line-height: 18px;
	margin-left: 5px;
}

.info-around > a {
	display: flex;
	align-items: center;
	margin-left: 5px;
	width: 260px;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 5px;
	transition: color 0.15s ease-in-out;
	color: #0077ff;
	font-size: 14px;
}

.info-around > a > i {
	font-size: 16px;
	margin-top: 2px;
	margin-right: 5px;
}

.info-around > a:hover {
	color: #61aafd;
}

.button {
	align-self: flex-start;
	margin-top: 15px;
}
