.info {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.info-around {
	width: 900px;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 90px;
	display: flex;
	flex-direction: column;
}

.splash {
	margin-left: 70px;
	margin-top: -60px;
	width: 380px;
	object-fit: contain;
}

.image-row {
	width: 100%;
	display: flex;
}

.offre-around {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.offre-around > h3,
.info-around > h3 {
	font-size: 32px;
	color: #56a4ff;
	margin-top: 50px;
	margin-bottom: 10px;
}

.info-around > p,
.list > li {
	text-align: justify;
	font-size: 14px;
	line-height: 18px;
}

.list {
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
}

.info-around > p {
	margin-left: 5px;
}

.button {
	align-self: flex-start;
	margin-top: 15px;
}

@media only screen and (max-width: 1000px) {
	.info-around {
		width: 450px;
		padding-top: 10px;
		padding-bottom: 50px;
	}

	.image-row {
		flex-direction: column;
	}

	.offre-around {
		width: 100%;
	}

	.offre-around > h3,
	.info-around > h3 {
		font-size: 20px;
		margin-top: 30px;
		margin-bottom: 5px;
	}

	.info-around > p,
	.list > li {
		font-size: 12px;
		line-height: 16px;
	}

	.splash {
		margin-left: unset;
		margin-top: -20px;
		width: 300px;
		align-self: center;
	}
}

@media only screen and (max-width: 500px) {
	.info-around {
		width: 320px;
	}

	.offre-around > h3,
	.info-around > h3 {
		font-size: 18px;
	}

	.info-around > p,
	.list > li {
		font-size: 10px;
		line-height: 14px;
	}

	.splash {
		width: 250px;
	}
}
