.form-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to bottom, #56a4ff, #bedeff, #dff4ff);
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form-around {
	width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 90px;
	padding-bottom: 120px;
}

.form-around > h3 {
	font-size: 35px;
	color: white;
	margin-top: 10px;
	margin-bottom: 5px;
}

.img {
	height: 110px;
}

.form > input {
	font-size: 12px;
	color: #444444;
	padding: 8px 15px;
	width: 280px;
	margin: 7.5px 0;
	font-family: 'Roboto', sans-serif;
	border-radius: 100px;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
	border: solid #444444 1px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #56a4ff;
	border-radius: 10px;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: 700;
	color: white;
	cursor: pointer;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
	transition: background 0.15s ease-in-out;
	user-select: none;
	margin-top: 5px;
}

@media (hover) {
	.button:hover {
		background: #3d7fca;
	}

	.disabled,
	.disabled:hover {
		background: #abb7c5;
		cursor: default !important;
	}
}

.check-around {
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	margin-top: 10px;
	margin-bottom: 5px;
}

.check-around > i {
	font-size: 18px;
	margin-right: 5px;
	cursor: pointer;
	transition: color 0.15s ease-in-out;
	color: #0077ff;
}

.check-around > span > a {
	text-decoration: none;
	transition: color 0.15s ease-in-out;
	color: #0077ff;
}

.check-around > span {
	font-size: 11px;
	color: #444444;
}

@media (hover) {
	.check-around > span > a:hover,
	.check-around > i:hover {
		color: #61aafd;
	}
}

@media only screen and (max-width: 1000px) {
	.form-around {
		width: 450px;
		padding-top: 40px;
		padding-bottom: 70px;
	}

	.form-around > h3 {
		font-size: 28px;
		margin-top: 8px;
	}

	.img {
		height: 80px;
	}

	.form > input {
		font-size: 11px;
		padding: 8px 15px;
		width: 250px;
		margin: 5px 0;
	}

	.check-around > span {
		font-size: 9px;
	}

	.button {
		font-size: 12px;
	}
}

@media only screen and (max-width: 500px) {
	.form-around {
		width: 400px;
		padding-top: 30px;
		padding-bottom: 60px;
	}

	.form-around > h3 {
		font-size: 25px;
	}

	.img {
		height: 70px;
	}

	.form > input,
	.form > textarea {
		font-size: 10px;
		width: 220px;
	}

	.check-around > span {
		font-size: 8px;
	}

	.button {
		font-size: 11px;
	}
}
