html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	object-fit: cover;
	user-select: none;
}

fieldset {
	appearance: none;
	border: none;
	padding: 0;
	margin: 0;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='number'],
input[type='password'],
button {
	border: none;
	appearance: none;
	outline: none;
	display: inline-block;
	vertical-align: middle;
}

input[type='date'],
input[type='time'] {
	border: none;
	outline: none;
	vertical-align: middle;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin: 0;
}

textarea {
	border: none;
	appearance: none;
	outline: none;
	display: inline-block;
}

select {
	outline: none;
}

/*
    TURN OFF BLUE BACKGROUND ON AUTOFILL
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 0s 50000s;
}

::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: transparent;
}
